@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@model List<VipApartaments.Controllers.Panel.alldetailsModel>

<style>
        table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
  color: #333;
}

th, td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
    </style>


    @if (ViewData["Message"] != null)
							 {
							<div class="alert alert-primary">
							 @ViewData["Message"]
							 </div>
							 }
 
    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>iD</th>
                    <th>Email klienta</th>
                    <th>Pokój</th>
                    <th>Przyjazd</th>
                    <th>Odjeazd</th>
                    <th>Do zapłaty</th>
                    <th>Zapłacone?</th>
                    
               
                
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                      
                       <td>@x.Id</td>
                         <td id="Email" name="Email">@x.Email</td>
                         <td><input name="RoomType" id="RoomType" value="@x.RoomType" readonly>
                        <td><input type="text" name="DateFrom" id="DateFrom"  value="@x.DateFrom.ToString("yyyy-MM-dd")" readonly /></td>
                        <td><input type="text" name="DateTo" id="DateTo" value="@x.DateTo.ToString("yyyy-MM-dd")" readonly /></td>
                      <td>  <input type="text" name="ToPayInput" id="ToPayInput" value="@x.ToPay" readonly />
                        </td>
                        <td><input type="checkbox" name="Pay" id="Pay" value="@x.Pay"  readonly/></td>
                   
                        <td><a asp-controller="Panel" asp-action="UpdatePanel"asp-route-id="@x.Id" >Edytuj </a></td> 
                    </tr>
                }
      
            </tbody>
        </table>
</form>
